@font-face {
  font-family: "iconfont"; /* Project id 3753550 */
  src: url('//at.alicdn.com/t/c/font_3753550_21rp89ofkjh.woff2?t=1669725533870') format('woff2'),
       url('//at.alicdn.com/t/c/font_3753550_21rp89ofkjh.woff?t=1669725533870') format('woff'),
       url('//at.alicdn.com/t/c/font_3753550_21rp89ofkjh.ttf?t=1669725533870') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Star-Night:before {
  content: "\ede7";
}

.icon-Daytimemode:before {
  content: "\e771";
}

.icon-java:before {
  content: "\e639";
}

.icon-php:before {
  content: "\e64d";
}

.icon-cyuyan:before {
  content: "\e61a";
}

.icon-Python:before {
  content: "\e892";
}

.icon-happy-:before {
  content: "\e622";
}

.icon-mbefengge_bingqilin:before {
  content: "\e619";
}

.icon-lvyou-ziyounvshenxiang:before {
  content: "\e667";
}

.icon-money:before {
  content: "\e71f";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-vuex-store:before {
  content: "\e6bb";
}

.icon-icon_mock4:before {
  content: "\e768";
}

.icon-particlemovement:before {
  content: "\ec73";
}

.icon-drag1:before {
  content: "\e7a4";
}

.icon-rays:before {
  content: "\e6b1";
}

.icon-Cloud:before {
  content: "\e693";
}

.icon-xuehua:before {
  content: "\e655";
}

.icon-emptybox:before {
  content: "\e673";
}

.icon-fault:before {
  content: "\e65b";
}

.icon-duigou1:before {
  content: "\e627";
}

.icon-star:before {
  content: "\e65e";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-zhuye:before {
  content: "\e63d";
}

.icon-zhaopianqiang:before {
  content: "\e641";
}

.icon-sleep:before {
  content: "\e64e";
}

.icon-loading:before {
  content: "\e891";
}

.icon-record:before {
  content: "\e7f8";
}

.icon-refresh:before {
  content: "\e654";
}

.icon-ascend:before {
  content: "\e936";
}

.icon-descend:before {
  content: "\e93b";
}

.icon-Table:before {
  content: "\e658";
}

.icon-drag:before {
  content: "\e601";
}

.icon-alibaba:before {
  content: "\e879";
}

.icon-iconfontqidian:before {
  content: "\e602";
}

.icon-iconfontzhongdian:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-logout:before {
  content: "\e636";
}

.icon-messages:before {
  content: "\e8e3";
}

.icon-yiwancheng:before {
  content: "\e688";
}

.icon-important:before {
  content: "\e6ca";
}

.icon-weiwancheng:before {
  content: "\e663";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-duigou:before {
  content: "\e640";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-cq-sandiantu:before {
  content: "\e70e";
}

.icon-yushui:before {
  content: "\e6c7";
}

.icon-Rice:before {
  content: "\e929";
}

.icon-mbefengge_kafei:before {
  content: "\e60b";
}

.icon-shuijue:before {
  content: "\e6c9";
}

.icon-yewan:before {
  content: "\e7a7";
}

.icon-tq_04duoyun:before {
  content: "\e712";
}

.icon-ico_location:before {
  content: "\e682";
}

.icon-dingwei:before {
  content: "\100ca";
}

.icon-md-locate:before {
  content: "\e70a";
}

.icon-cloudy:before {
  content: "\ece8";
}

.icon-rain:before {
  content: "\eceb";
}

.icon-Sunny:before {
  content: "\e6a0";
}

.icon-clothes:before {
  content: "\e717";
}

.icon-nav:before {
  content: "\e66b";
}

.icon-logo-vimeo:before {
  content: "\e6fd";
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-search:before {
  content: "\e6ac";
}

.icon-Magnify:before {
  content: "\e635";
}

.icon-clothesfill:before {
  content: "\e716";
}

.icon-font:before {
  content: "\e620";
}

.icon-clipboard:before {
  content: "\e71c";
}

.icon-file-pdf:before {
  content: "\e7b8";
}

.icon-excel:before {
  content: "\e600";
}

.icon-chart-scatter-plot:before {
  content: "\e78e";
}

.icon-error:before {
  content: "\e656";
}

.icon-guide:before {
  content: "\e630";
}

.icon-zip:before {
  content: "\e63f";
}

.icon-route-solid:before {
  content: "\e749";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-table:before {
  content: "\e621";
}

.icon-yibiaopan:before {
  content: "\eab4";
}

.icon-COMPONENTS:before {
  content: "\e9fa";
}

.icon-mima1:before {
  content: "\e69f";
}

.icon-yonghu:before {
  content: "\e679";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-no_eye:before {
  content: "\e6ad";
}
